<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset("assets/framework/bootstrap/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-light bg-light d-flex">
                {% if app.user %}
                    <a class="btn btn-primary me-3" href="{{ path('user_index') }}">Go to dashboard</a>
                    <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>

                {% endif %}
            </nav>
        </div>
    </div>

        <div class="container">
            {% if message is defined %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        </div>
            {% block body %}
            {% endblock %}
    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{ asset("assets/framework/bootstrap/js/bootstrap.js") }}"></script>
        <script src="{{ asset("assets/js/script.js") }}"></script>
    {% endblock %}
    </body>
</html>
